<div #topToolbarBox>
    <div style="padding-left: 55px; float: left; display: flex; align-items: center; height: 66px">
        <a *ngIf="ui.logo || us.monuvisionOverrideLogo" [href]="ui.url || ui.domain || config.url" style="margin-right: 15px">
            <img
                [src]="us.monuvisionOverrideLogo || ui.logo | safe"
                style="max-height: 54px; max-width: 220px"
                [style.visibility]="ui.isThemeApplied ? 'visible' : 'hidden'"
            />
        </a>
        <img
            *ngIf="spot2Logo"
            [src]="spot2Logo | safe"
            style="max-height: 54px; margin-right: 15px; object-fit: cover"
            class="header-logo"
        />
        <img *ngIf="spot3Logo" [src]="spot3Logo | safe" style="max-height: 54px; margin-right: 15px" class="header-logo" />
        <div style="position: relative" class="faded-text">
            <div style="position: absolute; display: inline-block; top: -13px; min-width: 300px">
                <a href="/account" class="header-link"> Account </a>|
                <a rel="nofollow" data-method="delete" href="/users/sign_out" class="header-link"> Logout </a>
            </div>
        </div>
    </div>
    <div style="position: relative; padding-right: 6px; float: right; display: flex; align-items: center; height: 66px">
        <div *ngIf="isHeaderCompact" style="display: inline-block" class="main-grid-bg">
            <button
                *ngIf="us.buyNowText"
                pButton
                type="button"
                [label]="us.buyNowText"
                (click)="onSceneExportBuyNow()"
                class="h-tool-btn"
            ></button>
            <button pButton type="button" label="Open" (click)="onSceneAdd()" class="h-tool-btn"></button>
            <button pButton type="button" label="Save" (click)="onSceneSave()" class="h-tool-btn"></button>
            <button pButton type="button" label="Print" (click)="onSceneExportPrint()" class="h-tool-btn"></button>
            <button pButton type="button" label="Email/Download" (click)="onSceneExportEmailDownload()" class="h-tool-btn"></button>
        </div>
        <div *ngIf="!isHeaderCompact" style="display: inline-block" class="main-grid-bg">
            <button
                *ngIf="us.buyNowText"
                pButton
                type="button"
                [label]="us.buyNowText"
                (click)="onSceneExportBuyNow()"
                class="tool-btn"
            ></button>
            <button pButton type="button" label="Open Design" (click)="onSceneAdd()" class="tool-btn"></button>
            <button pButton type="button" label="Save Design" (click)="onSceneSave()" class="tool-btn"></button>
            <button pButton type="button" label="Print Design" (click)="onSceneExportPrint()" class="tool-btn"></button>
            <button pButton type="button" label="Email/Download" (click)="onSceneExportEmailDownload()" class="tool-btn"></button>
        </div>
        <div *ngIf="ui.displayWholesalePricing" style="position: absolute; right: 15px; top: 0px; line-height: 12px">
            <div *ngFor="let price of ps.prices; index as i" style="display: inline-block">
                <div style="display: inline-block; margin-left: 12px">
                    <div class="faded-text" style="font-size: 12px; font-weight: bold">
                        {{ !ps.isLoading && !textService.isEditing ? price.wholesaleValue : replaceNumbers(price.wholesaleValue) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        style="position: absolute; top: 76px; min-width: 1006px; pointer-events: none; width: 100%; padding-left: 109px; text-align: center"
    >
        <!-- elements overlaying the canvas: -->
        <div style="position: absolute; top: 0px; left: 120px; text-align: left">
            <p-toggleButton
                onIcon="pi pi-replay"
                offIcon="pi pi-replay"
                onLabel=""
                offLabel=""
                [(ngModel)]="ui.displayRefresh"
                (onChange)="onRefresh($event)"
                styleClass="r-tool-btn"
            ></p-toggleButton>
            <p-toggleButton
                onIcon="pi pi-question"
                offIcon="pi pi-question"
                onLabel=""
                offLabel=""
                [ngModel]="ui.displayHelp"
                (onChange)="onHelp($event)"
                styleClass="r-tool-btn"
            ></p-toggleButton>
            <p-toggleButton
                *ngIf="us.pricing"
                id="pricing-btn"
                onIcon="pi pi-dollar"
                offIcon="pi pi-dollar"
                onLabel=""
                offLabel=""
                [(ngModel)]="ui.displayPricing"
                (onChange)="onPricingToggle($event)"
                styleClass="r-tool-btn"
            ></p-toggleButton>

            <!-- Edited by Justin -->
            <p-toggleButton
                [ngModel]="showToolBar"
                id="hide-btn"
                onIcon="pi pi-eye"
                offIcon="pi pi-eye-slash"
                onLabel=""
                offLabel=""
                (onChange)="onShowingToolBarToggle($event)"
                styleClass="r-tool-btn"
            ></p-toggleButton>
            <!-- Edited end -->

            <div #opPricing *ngIf="ui.displayPricing" style="position: relative">
                <div
                    *ngIf="ps && textService"
                    style="
                        font-size: 14px;
                        margin-top: 9px;
                        min-width: 100px;
                        min-height: 40px;
                        text-align: center;
                        padding: 10px;
                        background-color: rgb(255, 255, 255);
                        border: 1px solid #e1e1e1;
                    "
                >
                    <div [style.visibility]="!ps.isLoading && !textService.isEditing ? 'visible' : 'hidden'">
                        <div *ngFor="let price of ps.prices; index as i" style="display: inline-block">
                            <div *ngIf="i > 0" class="v-delimiter" style="height: 45px; margin: 0px 10px 0px 10px"></div>
                            <div style="display: inline-block; vertical-align: middle">
                                <div style="font-weight: bold">
                                    {{ price.label }}
                                </div>
                                <div *ngFor="let mn of price.materialNames" style="font-size: 13px">
                                    <div>{{ mn }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        *ngIf="ps.isLoading || textService.isEditing"
                        style="position: absolute; width: 100%; top: 10px; left: 0px; text-align: center"
                    >
                        Loading...
                    </div>
                </div>
            </div>
        </div>

        <div style="text-align: center" *ngIf="showToolBar">
            <div style="display: inline-block; pointer-events: auto; padding: 4px; background-color: #ffffff; border: 1px solid #e1e1e1">
                <p-toggleButton
                    onLabel="Ruler"
                    offLabel="Ruler"
                    onIcon="fo icon-ruler"
                    offIcon="fo icon-ruler"
                    [(ngModel)]="ds.showRuler"
                    styleClass="h-tool-btn"
                ></p-toggleButton>
                <p-toggleButton
                    onLabel="Grid"
                    offLabel="Grid"
                    onIcon="fo icon-grid"
                    offIcon="fo icon-grid"
                    [(ngModel)]="ds.showGrid"
                    styleClass="h-tool-btn"
                ></p-toggleButton>
                <button pButton type="button" icon="fo icon-reply" label="Undo" (click)="ds.undo()" class="h-tool-btn"></button>
                <button pButton type="button" icon="fo icon-forward" label="Redo" (click)="ds.redo()" class="h-tool-btn"></button>
                <button pButton type="button" icon="fo icon-tree" label="Background" (click)="onBgAdd()" class="h-tool-btn"></button>
            </div>
        </div>
    </div>
</div>

<p-dialog
    header="Help"
    [(visible)]="ui.displayHelp"
    dismissableMask="false"
    width="600"
    responsive="true"
    positionTop="74"
    styleClass="help-dialog"
    maximizable="true"
>
    <div class="text-select">
        We are working on providing you with tips to help in your design process. Until then, please contact us with your specific questions
        at
        <a href="tel:866-982-3550">866-982-3550</a> or <a [href]="'mailto:' + ui?.contactEmail">{{ ui?.contactEmail }}</a
        >.

        <p-accordion>
            <p-accordionTab *ngFor="let section of helpSections" [header]="section.header">
                <div [innerHTML]="section.text"></div>
            </p-accordionTab>
        </p-accordion>
    </div>
</p-dialog>

<library
    [(visible)]="ui.displayBgLibrary"
    [compactLayout]="true"
    [minX]="-100000"
    [minY]="-100000"
    [positionLeft]="getDialog2X()"
    [positionTop]="getDialog2Y()"
    [nodeService]="bgService"
    [defaultNodeNames]="['Default']"
    [types]="['standard']"
    [header]="'Add / Replace Background'"
    [containerStyle]="bgContainerStyle"
    [contentStyle]="bgContentStyle"
    (onSelect)="onBgDataLoadComplete($event)"
    [searchVisible]="false"
></library>

<library
    [(visible)]="ui.displaySceneLibrary"
    [minX]="-100000"
    [minY]="-100000"
    [positionTop]="74"
    [nodeService]="ss"
    [defaultNodeNames]="['Customer Projects', 'My Customer Projects**']"
    [retainStateAllowed]="false"
    [types]="['standard']"
    [apiPagination]="true"
    [header]="'Open Design'"
    [containerStyle]="libraryContainerStyle"
    [contentStyle]="libraryContentStyle"
    (onSelect)="onSceneDataLoadComplete($event)"
    (onRemove)="onSceneDataRemoveComplete($event)"
    [subSearchVisible]="true"
    [uploadVisible]="false"
></library>

<library
    [(visible)]="ui.displaySceneSaveLibrary"
    [minX]="-100000"
    [minY]="-100000"
    [positionTop]="74"
    [nodeService]="ss"
    [defaultNodeNames]="['Customer Projects', 'My Customer Projects**']"
    [retainStateAllowed]="false"
    [types]="['standard']"
    [apiPagination]="true"
    [header]="'Save Design'"
    [containerStyle]="libraryContainerStyle"
    [contentStyle]="libraryContentStyle"
    [fileToSave]="sceneFileToSave"
    (onSave)="onSceneDataSaveComplete($event)"
    [saveVisible]="true"
    [uploadVisible]="false"
></library>

<p-sidebar [(visible)]="es.showExportInfo" [fullScreen]="true" [style]="{ overflow: 'auto' }">
    <form autocomplete="on">
        <div *ngIf="ds" style="display: flex; flex-direction: column; align-items: center">
            <h1 style="font-weight: normal">
                {{ ui.displaySceneExportPrint ? 'Print Preview' : ui.displaySceneExportEmailDownload ? 'Email Design' : us.buyNowText }}
            </h1>
            <div style="display: flex; flex-wrap: wrap; justify-content: center">
                <div>
                    <div style="margin: 10px 0 10px 0">
                        <canvas
                            *ngIf="es.previewAsCanvas"
                            id="preview-canvas"
                            [width]="es.previewCW"
                            [height]="es.previewCH"
                            style="max-width: 600px"
                        ></canvas>
                        <img *ngIf="!es.previewAsCanvas" [src]="es.previewImage" width="600" />
                    </div>
                    <div *ngIf="ui.displaySceneExportBuyNow" class="text-select" style="max-width: 600px">
                        <div style="white-space: pre-wrap">{{ shapeInfo }}</div>
                        <br />
                        <div *ngIf="us.buyNowPricing">
                            <div *ngFor="let price of ps.prices; index as i" style="display: inline-block">
                                <div style="display: inline-block; margin-left: 12px">
                                    <div>
                                        {{
                                            !ps.isLoading && !textService.isEditing
                                                ? price.wholesaleValue
                                                : replaceNumbers(price.wholesaleValue)
                                        }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div *ngIf="ui.showBuyNowTecstoneMessage" style="font-size: 12px">
                            Welcome to GOLD-Tecstone’s RENDERING tool. This tool is available 24 hours a day, 7 days a week. Please use it
                            to create customer designs. When you and your customer are satisfied with the RENDERING, submit your design to
                            us. Our artists will center and balance the design. They will also standardize lettering sizes, letter spacing
                            and art elements to meet our production standards. Once they complete that process (normally 3-5 business days),
                            you will receive a PRODUCTION READY ART PROOF. Carefully review that document-the underlying file will be used
                            to create the memorial. If the PRODUCTION READY ART PROOF needs revision, please contact us by email at
                            <a href="mailto:service@tecstone.com">service@tecstone.com</a> or by phone at 614-471-6600 x2106. Once it is
                            perfect; sign and return it! Upon receipt, your order will be schedule for production!
                        </div>
                    </div>
                </div>
                <div>
                    <div *ngIf="ui.displaySceneExportBuyNow" style="width: 330px; margin: 10px 0 10px 10px">
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12 b-margin">Please enter my order as follows:</div>
                            <div class="ui-g-12 b-margin">
                                <span class="ui-float-label">
                                    <input id="my-name-input" name="my-name-input" type="text" size="30" pInputText [(ngModel)]="myName" />
                                    <label for="my-name-input">*My Name</label>
                                </span>
                            </div>
                            <div class="ui-g-12 b-margin">
                                <span class="ui-float-label">
                                    <input
                                        id="family-name-input"
                                        name="family-name-input"
                                        type="text"
                                        size="30"
                                        pInputText
                                        [(ngModel)]="familyName"
                                    />
                                    <label for="family-name-input">*Family Name</label>
                                </span>
                            </div>
                            <div class="ui-g-12 b-margin">
                                <span class="ui-float-label">
                                    <input
                                        id="my-email-input"
                                        name="my-email-input"
                                        type="email"
                                        size="30"
                                        pInputText
                                        [(ngModel)]="myEmail"
                                    />
                                    <label for="my-email-input">*My Email Address</label>
                                </span>
                            </div>
                            <div class="ui-g-12 b-margin">
                                <span class="ui-float-label">
                                    <input id="my-tel-input" name="my-tel-input" type="text" size="30" pInputText [(ngModel)]="myTel" />
                                    <label for="my-tel-input">*My Phone Number</label>
                                </span>
                            </div>
                            <div class="ui-g-12 b-margin">
                                <span class="ui-float-label">
                                    <input
                                        id="po-input"
                                        type="text"
                                        size="30"
                                        autocomplete="off"
                                        name="po-input"
                                        pInputText
                                        [(ngModel)]="es.orderPOStr"
                                        (ngModelChange)="onExportDetailChange()"
                                    />
                                    <label for="po-input">My PO# or Reference</label>
                                </span>
                            </div>
                            <div class="ui-g-12 b-margin">
                                <span class="ui-float-label">
                                    <input
                                        id="material-input"
                                        type="text"
                                        size="30"
                                        name="material-input"
                                        pInputText
                                        [(ngModel)]="es.orderMaterialStr"
                                        (ngModelChange)="onExportDetailChange()"
                                    />
                                    <label for="material-input">Material</label>
                                </span>
                            </div>
                            <div class="ui-g-12 b-margin">
                                <span class="ui-float-label">
                                    <p-dropdown
                                        id="shipping-type-dd"
                                        name="shipping-type-dd"
                                        [options]="shippingTypes"
                                        [(ngModel)]="selectedShippingType"
                                        (onChange)="onShippingTypeChange()"
                                        scrollHeight="200px"
                                        [autoDisplayFirst]="false"
                                        [appendTo]="'body'"
                                    ></p-dropdown>
                                    <label for="shipping-type-dd">*Ship Blank or Carved?</label>
                                </span>
                                <p-message *ngIf="shippingInfoMsg" severity="info" [text]="shippingInfoMsg"></p-message>
                            </div>
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <textarea
                                        id="message-input"
                                        rows="4"
                                        cols="30"
                                        name="message-input"
                                        pInputTextarea
                                        [(ngModel)]="es.orderMessageStr"
                                        (ngModelChange)="onExportDetailChange()"
                                    ></textarea>
                                    <label for="message-input">Message</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!ui.displaySceneExportBuyNow" style="width: 330px; margin: 10px 0 10px 10px">
                        <div *ngIf="us.pricing" class="b-margin">
                            <p-checkbox
                                binary="true"
                                label="Prices"
                                name="prices"
                                [(ngModel)]="es.showExportPrices"
                                (onChange)="onExportDetailChange()"
                            ></p-checkbox>
                        </div>
                        <div class="b-margin">
                            <p-checkbox
                                binary="true"
                                label="Sizes"
                                name="sizes"
                                [(ngModel)]="es.showExportSizes"
                                (onChange)="onExportDetailChange()"
                            ></p-checkbox>
                        </div>
                        <div class="b-margin">
                            <p-checkbox
                                binary="true"
                                label="Company Logo"
                                name="company-logo"
                                [(ngModel)]="es.showExportCompanyLogo"
                                (onChange)="onExportDetailChange()"
                            ></p-checkbox>
                        </div>
                        <div class="b-margin">
                            <p-checkbox
                                binary="true"
                                label="Manufacturer Note"
                                name="manufacturer-note"
                                [(ngModel)]="es.showExportNote"
                                (onChange)="onExportDetailChange()"
                            ></p-checkbox>
                        </div>
                        <div class="b-margin">
                            <p-checkbox
                                binary="true"
                                label="Copyright Notice"
                                name="copyright-notice"
                                [(ngModel)]="es.showExportCopyright"
                                (onChange)="onExportDetailChange()"
                            ></p-checkbox>
                        </div>
                        <div class="b-margin">
                            <p-checkbox
                                binary="true"
                                label="Purchase Order with Vector Files of Artwork"
                                name="po"
                                [(ngModel)]="es.showExportOrder"
                                (onChange)="onExportDetailChange()"
                            ></p-checkbox>
                        </div>

                        <div *ngIf="es.showExportOrder" class="ui-g ui-fluid" style="margin-top: 1.5em">
                            <div class="ui-g-12 b-margin">
                                <span class="ui-float-label">
                                    <input
                                        id="to-input"
                                        type="text"
                                        size="30"
                                        name="to-input"
                                        pInputText
                                        [(ngModel)]="es.orderToStr"
                                        (ngModelChange)="onExportDetailChange()"
                                    />
                                    <label for="to-input">To</label>
                                </span>
                            </div>
                            <div class="ui-g-12 b-margin">
                                <span class="ui-float-label">
                                    <input
                                        id="po-input"
                                        type="text"
                                        size="30"
                                        autocomplete="off"
                                        name="po-input"
                                        pInputText
                                        [(ngModel)]="es.orderPOStr"
                                        (ngModelChange)="onExportDetailChange()"
                                    />
                                    <label for="po-input">PO#</label>
                                </span>
                            </div>
                            <div class="ui-g-12 b-margin">
                                <span class="ui-float-label">
                                    <input
                                        id="material-input"
                                        type="text"
                                        size="30"
                                        name="material-input"
                                        pInputText
                                        [(ngModel)]="es.orderMaterialStr"
                                        (ngModelChange)="onExportDetailChange()"
                                    />
                                    <label for="material-input">Material</label>
                                </span>
                            </div>
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <textarea
                                        id="message-input"
                                        rows="4"
                                        cols="30"
                                        name="message-input"
                                        pInputTextarea
                                        [(ngModel)]="es.orderMessageStr"
                                        (ngModelChange)="onExportDetailChange()"
                                    ></textarea>
                                    <label for="message-input">Message</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div style="margin-left: 10px" class="b-margin">
                        <div style="display: inline-block; min-width: 84px">Scale: {{ es.exportDetailScale }}</div>
                        <div style="display: inline-block">
                            <p-slider
                                [(ngModel)]="es.exportDetailScale"
                                (onSlideEnd)="onExportDetailChange()"
                                [style]="{ width: '200px' }"
                                [step]="0.05"
                                [min]="0.5"
                                [max]="2.5"
                                name="scale"
                            ></p-slider>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="ui.displaySceneExportPrint">
                <button pButton type="button" icon="pi pi-print" (click)="onPrint()" label="Print"></button>
                <button pButton type="button" (click)="onSceneExportHide()" label="Close" class="ui-button-secondary l-margin"></button>
            </div>
            <div *ngIf="ui.displaySceneExportEmailDownload" style="text-align: center; max-width: 600px" class="t-margin b-margin">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-6 b-margin">
                        <span class="ui-float-label">
                            <input id="recipient-name-input" type="text" size="30" pInputText #inpEmail0 />
                            <label for="recipient-name-input">Recipient's Name</label>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-6 b-margin">
                        <span class="ui-float-label">
                            <input
                                id="recipient-email-input"
                                name="recipient-email-input"
                                type="email"
                                size="30"
                                pInputText
                                #inpEmail1
                                [(ngModel)]="ui.defaultRecipientEmail"
                            />
                            <label for="recipient-email-input">Recipient's Email Address</label>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-6 b-margin">
                        <span class="ui-float-label">
                            <input id="your-name-input" type="text" size="30" pInputText #inpEmail2 />
                            <label for="your-name-input">Your Name</label>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-6 b-margin">
                        <span class="ui-float-label">
                            <input id="your-email-input" type="email" size="30" pInputText #inpEmail3 />
                            <label for="your-email-input">Your Email Address</label>
                        </span>
                    </div>
                    <div class="ui-g-12 b-margin">
                        <span class="ui-float-label">
                            <textarea id="email-content-input" rows="5" cols="30" pInputTextarea #inpEmail4></textarea>
                            <label for="email-content-input">Message</label>
                        </span>
                    </div>
                </div>
                <button
                    pButton
                    type="sumbit"
                    icon="pi pi-envelope"
                    (click)="onSendEmail(inpEmail0.value, inpEmail1.value, inpEmail2.value, inpEmail3.value, inpEmail4.value)"
                    label="Send Email"
                    class="l-margin"
                ></button>
                <button
                    *ngIf="!ui.downloadVectors"
                    pButton
                    type="button"
                    icon="pi pi-download"
                    (click)="onDownloadImage()"
                    label="Download Image"
                    class="l-margin"
                ></button>
                <button
                    *ngIf="ui.downloadVectors"
                    pButton
                    type="button"
                    icon="pi pi-download"
                    (click)="onDownloadVectorsAndImage()"
                    label="Download Vectors & Image"
                    class="l-margin"
                ></button>
                <button pButton type="button" (click)="onSceneExportHide()" label="Close" class="ui-button-secondary l-margin"></button>
            </div>
            <div *ngIf="ui.displaySceneExportBuyNow" style="text-align: center; max-width: 600px" class="t-margin b-margin">
                <div class="b-margin">
                    <p-message *ngIf="orderSuccessMsg" severity="success" [text]="orderSuccessMsg"></p-message>
                </div>
                <button pButton type="sumbit" (click)="onSubmitOrder()" label="Submit" class="l-margin" [disabled]="ps.isLoading"></button>
                <button pButton type="button" (click)="onSceneExportHide()" label="Close" class="ui-button-secondary l-margin"></button>
            </div>
        </div>
    </form>
</p-sidebar>
